/* import */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 0.875;
  background: #262626;
}

/* header i nav */

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 100px;
  background: #262626;
  width: 100%;
  box-sizing: border-box;
  z-index: 50;
}
header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}
header .logo img {
  height: 50px;
  font-size: 24px;
  float: left;
}

header nav {
  float: right;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  list-style: none;
  position: relative;
}
header nav ul li.sub-menu:before {
  content: "\f0d7";
  font-family: fontAwesome;
  position: absolute;
  line-height: 50px;
  color: #fff;
  right: 5px;
}
header nav ul li.active.sub-menu:before {
  content: "\f0d8";
  position: absolute;
}
header nav ul li ul {
  position: absolute;
  left: 0;
  background: #333;
  display: none;
}
header nav ul li.active ul {
  display: block;
}
header nav ul li ul li {
  display: block;
  width: 200px;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: #fff;
  background: #2196f3;
}
.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
@media (max-width: 9910px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  header nav ul li.active ul {
    position: relative;
    background: #003e6f;
  }
  header nav ul li ul li {
    width: 100%;
  }
}

/*end of header i nav */

/* footer */

footer {
  background: #262626;
  font-family: fontAwesome;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}

/* end of footer */
